{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Composite</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Recipe name</th>
                <td>{{ entity.recipe.name }}</td>            
            </tr>
            <tr>
                <th>Ingredient</th>
               {# {% for item in entity.ingredient %}
                <td>{{ item.name }}</td>
                {% endfor %} #}
                <td>{{ entity.ingredient.name }}</td>
            </tr>
            {#<tr>
                <th>Ingredientid</th>
                <td>{{ entity.ingredientId }}</td>
            </tr>#}
            <tr>
                <th>Quantity</th>
                <td>{{ entity.quantity }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('composite') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('composite_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
